<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.longecological.mapper.system.SysBankInfoMapper">

	
	<!-- 模糊搜索银行列表 -->
	<select id="searchLikeBank" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			id,
			bank_code,
			bank_name
		FROM
			t_sys_bank_info
		WHERE
			bank_name LIKE CONCAT(
				'%',
				#{map.key_word},'%') 
			AND STATUS = '1'
			LIMIT 0,
			10
	</select>
	
</mapper>