<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('扫码支付详情')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>

<body class="white-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">

	<form class="form-horizontal m" id="form-sysNews-detail" >
	          
	  	<div class="form-group">	
	     	<label class="col-sm-1 control-label">申请用户编号：</label>
	     	<div class="col-sm-4">
	           	<input type="hidden" id="scan_id" name="scan_id" th:value="${userApplyScanRecordInfo.id}" readonly="true" >
	           	
				<input type="hidden" name="business_license" id="business_license" th:value="${userApplyScanRecordInfo.business_license}" readonly="true" >
				<input type="hidden" name="store_interior" id="store_interior" th:value="${userApplyScanRecordInfo.store_interior}" readonly="true" >
				<input type="hidden" name="shop_head" id="shop_head" th:value="${userApplyScanRecordInfo.shop_head}" readonly="true" >
	           	<input type="hidden" name="cashier_desk" id="cashier_desk" th:value="${userApplyScanRecordInfo.cashier_desk}" readonly="true" >
	           	<input id="user_id" name="user_id" th:value="${userApplyScanRecordInfo.user_id}" class="form-control" type="text" required readonly >
	  		</div>
	  		<label class="col-sm-1 control-label">申请用户手机号：</label>
	     	<div class="col-sm-4">
	           	<input id="news_title" name="user_tel" th:value="${userApplyScanRecordInfo.user_tel}" class="form-control" type="text" required readonly >
	  		</div>
		</div>
		
	   	<div class="form-group"> 
       		<label class="col-sm-1 control-label ">营业执照：</label>  
           	<div class="col-sm-4">
               	<div class="ibox float-e-margins">
                   	<div class="ibox-content">
                       	<div class="form-group">
                        	<div class="file-loading">
				            	<input id="fileinput-demo-business_license" name="file"  type="file" >
				        	</div>
                       	</div>
                   </div>
               </div>
           	</div>
           	<label class="col-sm-1 control-label ">店铺内景：</label>  
           	<div class="col-sm-4">
               	<div class="ibox float-e-margins">
                   	<div class="ibox-content">
                       	<div class="form-group">
                        	<div class="file-loading">
				            	<input id="fileinput-demo-store_interior" name="file"  type="file" >
				        	</div>
                       	</div>
                   </div>
               </div>
           	</div>
      	</div>
	      	
	 	<div class="form-group"> 
       		<label class="col-sm-1 control-label ">店铺门头：</label>  
           	<div class="col-sm-4">
               	<div class="ibox float-e-margins">
                   	<div class="ibox-content">
                       	<div class="form-group">
                        	<div class="file-loading">
				            	<input id="fileinput-demo-shop_head" name="file"  type="file" >
				        	</div>
                       	</div>
                   </div>
               </div>
           	</div>
           	<label class="col-sm-1 control-label ">收银台：</label>  
           	<div class="col-sm-4">
               	<div class="ibox float-e-margins">
                   	<div class="ibox-content">
                       	<div class="form-group">
                        	<div class="file-loading">
				            	<input id="fileinput-demo-cashier_desk" name="file"  type="file" >
				        	</div>
                       	</div>
                   </div>
               </div>
           	</div>
      	</div>
      	
      	<div class="form-group">	
	     	<label class="col-sm-1 control-label">申请时间：</label>
	     	<div class="col-sm-4">
	           	<input id="cre_date" name="cre_date" th:value="${userApplyScanRecordInfo.cre_date}" class="form-control" type="text" required readonly >
	  		</div>
	  		<label class="col-sm-1 control-label">更新时间：</label>
	     	<div class="col-sm-4">
	           	<input id="up_date" name="up_date" th:value="${userApplyScanRecordInfo.up_date}" class="form-control" type="text" required readonly >
	  		</div>
		</div>
      	
	</form>
</div>

    
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
    
<script th:inline="javascript">

$(document).ready(function () {
	//营业执照
	var business_license_data = [];
	business_license_data.push(qiniu_domain+$("#business_license").val());
	initFileInput1(business_license_data,"business_license");
	
	//店铺内景
	var store_interior_data = [];
	store_interior_data.push(qiniu_domain+$("#store_interior").val());
	initFileInput1(store_interior_data,"store_interior");
	
	//店铺门头
	var shop_head_data = [];
	shop_head_data.push(qiniu_domain+$("#shop_head").val());
	initFileInput1(shop_head_data,"shop_head");
	
	//收银台
	var cashier_desk_data = [];
	cashier_desk_data.push(qiniu_domain+$("#cashier_desk").val());
	initFileInput1(cashier_desk_data,"cashier_desk");
	
	function initFileInput1(initDataArray,inputId){
		//初始化fileinput控件（第一次初始化）
	    $("#fileinput-demo-"+inputId+"").fileinput({
	    	'theme': 'explorer-fas',
	        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
	        uploadAsync:true,//采用同步上传
	        validateInitialCount:true,
	        overwriteInitial: false,
	        initialPreviewAsData: true,
	        showUpload: false, //是否显示上传按钮
	        showRemove: false, //是否显示删除按钮
	        showBrowse: false,//是否显示移除按钮
	        showCaption:false,//是否显示标题
	        initialPreview: initDataArray,
	        layoutTemplates :{
	            actionDelete:'', //去除上传预览的缩略图中的删除图标
	            actionUpload:'',//去除上传预览缩略图中的上传图片；
	            //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
	       }
	    })
	}   
});

</script>
</body>
</html>
