<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增钱柜学院')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>

<body class="white-bg">
    
   <div class="wrapper wrapper-content animated fadeInRight ibox-content">
       
       <form class="form-horizontal m" id="form-sysMoneyLockerCollege-add">
		
		<div class="form-group">	
			<label class="col-sm-1 control-label">新闻标题：</label>
			<div class="col-sm-10">
				<input type="hidden" name="money_locker_cover" id="money_locker_cover" readonly="true">
				<input type="hidden" name="money_locker_nav" id="money_locker_nav" readonly="true">
				<input type="hidden" name="money_locker_content" id="money_locker_content" readonly="true">
				<input id="money_locker_title" name="money_locker_title" class="form-control" type="text" >
			</div>
		</div>
		
		<div class="form-group"> 
        	<label class="col-sm-1 control-label ">钱柜封面图：</label>  
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
	                        <div class="file-loading">
					            <input id="fileinput-demo-money_locker_cover" name="file"  type="file" >
					        </div>
                        </div>
                    </div>
                </div>
            </div>
       	</div>
       	
       	<div class="form-group"> 
        	<label class="col-sm-1 control-label ">钱柜导航图或视频：</label>  
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
	                        <div class="file-loading">
					            <input id="fileinput-demo-money_locker_nav" name="file"  type="file" >
					        </div>
                        </div>
                    </div>
                </div>
            </div>
       	</div>
       	
       	<div class="form-group"> 
        	<label class="col-sm-1 control-label ">钱柜详情图：</label>  
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
	                        <div class="file-loading">
					            <input id="fileinput-demo-money_locker_content" name="file"  type="file" multiple="multiple" >
					        </div>
                        </div>
                    </div>
                </div>
            </div>
       	</div>
		
		<div class="form-group">	
         	<label class="col-sm-1 control-label">操作备注：</label>
         	<div class="col-sm-10">
             	<textarea rows="2" cols="180" name="remark" id="remark" placeholder="请输入操作备注" >
				</textarea>
         	</div>
    	</div>
	</form>
</div>


<div class="row" style="margin-bottom: 100px">
	<div class="col-sm-offset-5 col-sm-10">
	    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
	    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
	</div>
</div>
	
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
    
<script type="text/javascript">
//URL前缀
var prefix = ctx + "devemana/sysMoneyLockerCollege";
$("#form-sysMoneyLockerCollege-add").validate({
	rules:{
		money_locker_title:{
			required:true
		},
      	remark: {
	        required: true
      	}
	},
	messages: {
		money_locker_title: {
            required: "请输入钱柜标题"
        },
        remark: {
            required: "请输入备注说明"
        }
 	},
	focusCleanup: true
});


function submitHandler() {
   	if ($.validate.form()) {
		if($("#money_locker_cover").val()==""){
			layer.msg("请选择并上传钱柜封面图",{icon:5,time : 1000});
			return;
		}else if($("#money_locker_nav").val()==""){
			layer.msg("请选择并上传钱柜导航图或视频",{icon:5,time : 1000});
			return;
		}else if($("#money_locker_content").val()==""){
			layer.msg("请选择并上传钱柜详情图",{icon:5,time : 1000});
			return;
		}else{
			var money_locker_content=$("#money_locker_content").val();
			var last_str=money_locker_content.substr(money_locker_content.length-1,1);
			if(last_str==","){
				$("#money_locker_content").val(money_locker_content.substring(0, money_locker_content.length - 1));
			}
			$.operate.saveTab("/devemana/sysMoneyLockerCollege/add", $('#form-sysMoneyLockerCollege-add').serialize());
		}
   	}
}


$(document).ready(function () {
	//钱柜封面图
	initFileInput1("money_locker_cover","支持单图片拖拽上传<br>建议图片格式：jpg<br>尺寸大小：1125 x 540 px");
	
	//钱柜导航图或视频
	initFileInput2("money_locker_nav","支持单图片或视频拖拽上传<br>建议图片格式：jpg，建议视频格式：mp4<br>图片尺寸大小：1125 x 540 px，视频比例大小：2:1");
	
	//钱柜详情图
	initFileInput3("money_locker_content","支持多图片拖拽上传<br>建议图片格式：jpg<br>尺寸大小：宽度默认为 1000 px ；高度随意");
	
	function initFileInput1(inputId,description){
		//初始化fileinput控件（第一次初始化）
	    $("#fileinput-demo-"+inputId+"").fileinput({
	    	dropZoneTitle : description,
	    	'theme': 'explorer-fas',
	        'uploadUrl': '/develop/upload/photopUpload',//上传的地址
	        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
	        uploadAsync:true,//false 同步上传，后台用数组接收，true 异步上传，每次上传一个file,会调用多次接口
	        removeFromPreviewOnError:true, //当选择的文件不符合规则时，例如不是指定后缀文件、大小超出配置等，选择的文件不会出现在预览框中，只会显示错误信息
	        maxFileCount: 1,//表示允许同时上传的最大文件个数
	        validateInitialCount:true,
	        overwriteInitial: false,
	        initialPreviewAsData: true,
	        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
	        layoutTemplates :{
	            actionDelete:'', //去除上传预览的缩略图中的删除图标
	            actionUpload:'',//去除上传预览缩略图中的上传图片；
	            //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
	       }
	    })
	       .on("fileuploaded", function(event, data) {
	       	data=data.response;
	       	if(data.code=='0'){
	       		$("#"+inputId+"").val(data.url);
	       	}else{
	       		layer.msg(data.msg,{icon:5,time : 1000});
	       	}
	   	})
	   	.on('fileerror', function(event, data, msg) {  //一个文件上传失败
	       	alert('文件上传失败！'+msg);
	   	}); 
	}  
	
	
	function initFileInput2(inputId,description){
		//初始化fileinput控件（第一次初始化）
	    $("#fileinput-demo-"+inputId+"").fileinput({
	    	dropZoneTitle : description,
	    	'theme': 'explorer-fas',
	        'uploadUrl': '/develop/upload/photopUpload',//上传的地址
	        allowedFileExtensions : ['jpg', 'png','gif','mp4','rmvb','avi','rm','avi'],//接收的文件后缀,
	        uploadAsync:true,//false 同步上传，后台用数组接收，true 异步上传，每次上传一个file,会调用多次接口
	        removeFromPreviewOnError:true, //当选择的文件不符合规则时，例如不是指定后缀文件、大小超出配置等，选择的文件不会出现在预览框中，只会显示错误信息
	        maxFileCount: 1,//表示允许同时上传的最大文件个数
	        validateInitialCount:true,
	        overwriteInitial: false,
	        initialPreviewAsData: true,
	        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
	        layoutTemplates :{
	            actionDelete:'', //去除上传预览的缩略图中的删除图标
	            actionUpload:'',//去除上传预览缩略图中的上传图片；
	            //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
	       }
	    })
	       .on("fileuploaded", function(event, data) {
	       	data=data.response;
	       	if(data.code=='0'){
	       		$("#"+inputId+"").val(data.url);
	       	}else{
	       		layer.msg(data.msg,{icon:5,time : 1000});
	       	}
	   	})
	   	.on('fileerror', function(event, data, msg) {  //一个文件上传失败
	       	alert('文件上传失败！'+msg);
	   	}); 
	}   
	
	function initFileInput3(inputId,description){
		//初始化fileinput控件（第一次初始化）
	    $("#fileinput-demo-"+inputId+"").fileinput({
	    	dropZoneTitle : description,
	    	'theme': 'explorer-fas',
	        'uploadUrl': '/develop/upload/photopUpload',//上传的地址
	        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
	        uploadAsync:true,//false 同步上传，后台用数组接收，true 异步上传，每次上传一个file,会调用多次接口
	        removeFromPreviewOnError:true, //当选择的文件不符合规则时，例如不是指定后缀文件、大小超出配置等，选择的文件不会出现在预览框中，只会显示错误信息
	        maxFileCount: 10,//表示允许同时上传的最大文件个数
	        validateInitialCount:true,
	        overwriteInitial: false,
	        initialPreviewAsData: true,
	        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
	        layoutTemplates :{
	            actionDelete:'', //去除上传预览的缩略图中的删除图标
	            actionUpload:'',//去除上传预览缩略图中的上传图片；
	            //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
	       }
	    })
	       .on("fileuploaded", function(event, data) {
	       	data=data.response;
	       	if(data.code=='0'){
	       		$("#"+inputId+"").val($("#"+inputId+"").val()+data.url+",");
	       	}else{
	       		layer.msg(data.msg,{icon:5,time : 1000});
	       	}
	   	})
	    .on('fileerror', function(event, data, msg) {  //一个文件上传失败
	       	alert('文件上传失败！'+msg);
	   	}); 
	}
});

</script>
</body>
</html>
