<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('钱柜学院详情')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>

<body class="white-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">

	<form class="form-horizontal m" id="form-sysNews-detail" >
	          
	  	<div class="form-group">	
	     	<label class="col-sm-1 control-label">钱柜标题：</label>
	     	<div class="col-sm-10">
	           	<input type="hidden" id="college_id" name="college_id" th:value="${sysMoneyLockerCollege.id}" readonly="true" >
	           	
				<input type="hidden" name="money_locker_cover" id="money_locker_cover" th:value="${sysMoneyLockerCollege.money_locker_cover}" readonly="true" >
				<input type="hidden" name="money_locker_nav" id="money_locker_nav" th:value="${sysMoneyLockerCollege.money_locker_nav}" readonly="true" >
				<input type="hidden" name="money_locker_content" id="money_locker_content" th:value="${sysMoneyLockerCollege.money_locker_content}" readonly="true" >
	           	<input id="news_title" name="money_locker_title" th:value="${sysMoneyLockerCollege.money_locker_title}" class="form-control" type="text" required readonly >
	  		</div>
		</div>
	          
	   	<div class="form-group"> 
       		<label class="col-sm-1 control-label ">钱柜封面图：</label>  
           	<div class="col-sm-10">
               	<div class="ibox float-e-margins">
                   	<div class="ibox-content">
                       	<div class="form-group">
                        	<div class="file-loading">
				            	<input id="fileinput-demo-money_locker_cover" name="file"  type="file" >
				        	</div>
                       	</div>
                   </div>
               </div>
           	</div>
      	</div>
	      	
	   	<div class="form-group"> 
	       	<label class="col-sm-1 control-label ">钱柜导航图或视频：</label>  
	        <div class="col-sm-10">
	         	<div class="ibox float-e-margins">
	              	<div class="ibox-content">
	                  	<div class="form-group">
	                    	<div  id="fileinput-demo-money_locker_nav" >
					        </div>
	                  	</div>
	               	</div>
	          	</div>
	     	</div>
	 	</div>
	      	
	 	<div class="form-group"> 
	       	<label class="col-sm-1 control-label ">钱柜详情图：</label>  
	        <div class="col-sm-10">
	         	<div class="ibox float-e-margins">
	            	<div class="ibox-content">
	                  	<div class="form-group">
	                    	<div class="file-loading">
					            <input id="fileinput-demo-money_locker_content" name="file"  type="file" multiple="multiple" >
					        </div>
	                  	</div>
	             	</div>
	          	</div>
	      	</div>
	   	</div>
	</form>
</div>

    
<th:block th:include="include :: footer" />
<th:block th:include="include :: bootstrap-fileinput-js" />
    
<script th:inline="javascript">

$(document).ready(function () {
	//钱柜封面图
	var money_locker_cover_data = [];
	money_locker_cover_data.push(qiniu_domain+$("#money_locker_cover").val());
	initFileInput1(money_locker_cover_data,"money_locker_cover");
	
	//钱柜导航图或视频
	var money_locker_nav_data = [];
	initFileInput2(qiniu_domain+$("#money_locker_nav").val());
	
	//钱柜详情图
	var money_locker_content_data = [];
	var money_locker_content = $("#money_locker_content").val().split(",");
	for(var i=0;i<money_locker_content.length;i++){
		money_locker_content_data.push(qiniu_domain+money_locker_content[i]);
	}
	initFileInput3(money_locker_content_data,"money_locker_content");
	
	
	function initFileInput1(initDataArray,inputId){
		//初始化fileinput控件（第一次初始化）
	    $("#fileinput-demo-"+inputId+"").fileinput({
	    	'theme': 'explorer-fas',
	        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
	        uploadAsync:true,//采用同步上传
	        validateInitialCount:true,
	        overwriteInitial: false,
	        initialPreviewAsData: true,
	        showUpload: false, //是否显示上传按钮
	        showRemove: false, //是否显示删除按钮
	        showBrowse: false,//是否显示移除按钮
	        showCaption:false,//是否显示标题
	        initialPreview: initDataArray,
	        layoutTemplates :{
	            actionDelete:'', //去除上传预览的缩略图中的删除图标
	            actionUpload:'',//去除上传预览缩略图中的上传图片；
	            //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
	       }
	    })
	}   
	
	
	function initFileInput2(initDataArray){
		$("#fileinput-demo-money_locker_nav").html("<embed src="+initDataArray+" allowscriptaccess='always' allowfullscreen='true' wmode='opaque'"+" width='480' height='400'></embed>");
	}   
	
	function initFileInput3(initDataArray,inputId){
		//初始化fileinput控件（第一次初始化）
	    $("#fileinput-demo-"+inputId+"").fileinput({
	    	'theme': 'explorer-fas',
	        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀,
	        uploadAsync:true,//采用同步上传
	        maxFileCount: 10,//表示允许同时上传的最大文件个数
	        validateInitialCount:true,
	        overwriteInitial: false,
	        initialPreviewAsData: true,
	        showUpload: false, //是否显示上传按钮
	        showRemove: false, //是否显示删除按钮
	        showBrowse: false,//是否显示移除按钮
	        showCaption:false,//是否显示标题
	        initialPreview: initDataArray,
	        layoutTemplates :{
	            actionDelete:'', //去除上传预览的缩略图中的删除图标
	            actionUpload:'',//去除上传预览缩略图中的上传图片；
	            //actionZoom:''   //去除上传预览缩略图中的查看详情预览的缩略图标。
	       }
	    })
	}
});

</script>
</body>
</html>
