<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('删除考核活动(MPOS)')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-userTraposAssessInfo-del">
		
		<div class="form-group">
			<label class="col-sm-3 control-label">请输入操作备注：</label>
			<div class="col-sm-8">
				<input type="hidden" name="assess_ids" id="assess_ids" th:value="${id}">
				<textarea rows="5" cols="50" name="remark" id="remark" placeholder="请输入操作备注">
				</textarea>
			</div>
		</div>
		
	</form>
</div>


<th:block th:include="include :: footer" />
<script th:inline="javascript">

$("#form-userTraposAssessInfo-del").validate({
	rules:{
		remark: {
	        required: true
      	}
	},
	messages: {
        remark: {
            required: "请输入操作备注"
        }
 	},
	focusCleanup: true
});

function submitHandler() {
   if ($.validate.form()) {
   		$.operate.save("/deveagent/userTraposAssessInfo/del", $('#form-userTraposAssessInfo-del').serialize());
   }
}
</script>
	
</body>

</html>
