<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户解绑记录(传统POS)列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								发起召回手机号：<input type="text" name="send_user_tel" id="send_user_tel" />
							</li>
							<li>
								接受召回手机号：<input type="text" name="acce_user_tel" id="acce_user_tel" />
							</li>
							<li>
								姓名：<input type="text" name="real_name" id="real_name" />
							</li>
							<li>
								设备号（机器编号）：<input type="text" name="sn" id="sn" />
							</li>
							<li>
								解绑状态：
								<select name="status" id="status" th:with="type=${@dict.getType('user_pos_unbind_record_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="deveagent:userTraposUnbindRecordInfo:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//审核
		var sysAuditFlag = [[${@permission.hasPermi('deveagent:userTraposUnbindRecordInfo:sysAudit')}]];
		var datas_status = [[${@dict.getType('user_pos_unbind_record_status')}]];
	
		//前缀路径
		var prefix = "/deveagent/userTraposUnbindRecordInfo";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询用户解绑记录(传统POS)列表
		    queryAgentUserTraposUnbindRecordInfoList();
		});
		
		//查询用户解绑记录(传统POS)列表
		function queryAgentUserTraposUnbindRecordInfoList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        detailUrl: prefix + "/detail/{id}",//详情路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "用户解绑记录(传统POS)",//模块名称：用户
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true
				},
				{
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		                if(row.status==00){
			                //申请审核
			                actions.push('<a class="btn btn-primary btn-xs ' + sysAuditFlag + '" href="javascript:void(0)" onclick="sysAudit(\'' + row.id + '\')"><i class="fa fa-edit"></i>审核申请 </a>');
			           	}
		              	return actions.join('');
		            }
		        },
		        {
					field : 'manager_id', 
					title : '代理编号'
				},
				{
					field : 'user_id', 
					title : '用户编号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'user_tel', 
					title : '用户手机号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'real_name', 
					title : '姓名'
				},
				{
					field : 'sn', 
					title : '设备号（机器编号）',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailTrapos(\'' + row.sn + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'status', 
					title : '解绑状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_status, value);
		            }
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'update_by', 
					title : '更新者'
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		/* 查询传统POS详情 */
		function detailTrapos(id){
			var url = '/deveagent/sysTraditionalPosInfo/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"传统POS详情", url);
		}
		
		
		/* 查询用户详情 */
		function detailUser(id){
			var url = '/deveagent/userInfo/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"用户详情", url);
		}
		
		
		//系统审核POS机解绑申请
		function sysAudit(unbind_id){
			var url = prefix + '/sysAudit/' + unbind_id;
		    $.modal.open("审核POS机解绑申请", url);
		}
		
		
		//批量审核POS机解绑申请
		function batchSysAudit(){
			var rows = $('#bootstrap-table').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
    		if (rows.length == 0) {
    			$.modal.alertWarning("请至少选择一条记录");
    			return;
    		}
    		for(var i=0;i<rows.length;i++){
    			if(rows[i].status!='00'){
    				$.modal.alertWarning("只能选择待审核的申请");
        			return;
    			}
    		}
    		$.modal.confirm("确认要选中这" + rows.length + "条数据吗?", function() {
    			var unbind_ids = "";
    			// 遍历所有选择的行数据，取每条数据对应的ID
    			$.each(rows, function(i, row) {
    				if(i<rows.length-1){
    					unbind_ids=unbind_ids+row['id']+",";
    				}else{
    					unbind_ids=unbind_ids+row['id'];
    				}
    			});
    			var url = prefix + '/sysAudit/' + unbind_ids;
    			$.modal.open("批量审核POS机解绑申请", url, '800', '450');
    		});
		}
		
	</script>
</body>
</html>