<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增系统费率参数')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	
	<form class="form-horizontal m" id="form-sysParamRate-add" >
	
		<div class="form-group" >
			<label class="col-sm-3 control-label ">类型：</label>
			<div class="col-sm-8">
				<div class="input-group" style="width: 100%">
             		<select name="type" class="form-control m-b" th:with="type=${@dict.getType('sys_param_rate_type')}">
             			<option value="">---请选择费率参数类型---</option>
            			<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
        			</select>
                </div>
			</div>
		</div>
		
		<div class="form-group" >
			<label class="col-sm-3 control-label ">费率（单位%）：</label>
			<div class="col-sm-8">
				<input name="rate" id="rate" class="form-control" type="text" required placeholder="请输入费率（单位：%）" >
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label">操作备注：</label>
			<div class="col-sm-8">
				<textarea id="remark" name="remark" class="form-control" placeholder="请输入操作备注" ></textarea>
			</div>
		</div>
	</form>
</div>

<th:block th:include="include :: footer" />
<script type="text/javascript">

//前缀路径
var prefix = "/devemana/sysParamRate";

$("#form-sysParamRate-add").validate({
	onkeyup: false,
	rules:{
		type: {
	        required: true
      	},
      	rate: {
	        required: true
      	},
      	remark:{
			required:true
      	}
	},
	messages: {
		type: {
            required: "请选择类型"
        },
        rate: {
            required: "请输入系统费率参数"
        },
		remark: {
            required: "请输入操作备注"
        }
    },
    focusCleanup: true
});

function submitHandler() {
	if ($.validate.form()) {
  		$.operate.save(prefix + "/add", $('#form-sysParamRate-add').serialize());
  	}
}
</script>
</body>
</html>
