<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('费率申请审核')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<base th:href="${#request.getContextPath()}+'/'">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-userMposUnbindRecordInfo-sysAudit">
		
		<div class="form-group">
			<label class="col-sm-3 control-label">请输入审核备注：</label>
			<div class="col-sm-8">
				<input type="hidden" name="unbind_ids" id="unbind_ids" th:value="${id}">
				<textarea rows="5" cols="50" name="remark" id="remark" placeholder="请输入审核备注">
				</textarea>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label">审核结果：</label>
			<div class="col-sm-8">
				<div class="radio-box" >
					<input type="radio" name="status" value="08" >
					<label>不通过</label>
				</div>
				<div class="radio-box" >
					<input type="radio" name="status" value="09" >
					<label>通过</label>
				</div>
			</div>
		</div>
		
	</form>
</div>


<th:block th:include="include :: footer" />

<script th:inline="javascript">

$("#form-userMposUnbindRecordInfo-sysAudit").validate({
	rules:{
		remark: {
	        required: true
      	},
      	status:{
			required:true
		}
	},
	messages: {
        remark: {
            required: "请输入审核备注"
        },
        status: {
            required: "请选择审核结果"
        }
 	},
	focusCleanup: true
});

function submitHandler() {
   if ($.validate.form()) {
   		$.operate.save("/deveagent/userMposUnbindRecordInfo/sysAudit", $('#form-userMposUnbindRecordInfo-sysAudit').serialize());
   }
}
</script>
	
</body>

</html>
