<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('代理系统流量卡列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								流量卡号：<input type="text" name="card_no" id="card_no" />
							</li>
							<li>
								分配状态：
								<select name="dis_status" id="dis_status" th:with="type=${@dict.getType('sys_pos_info_dis_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		       	<!-- 操作封装：添加信息 全屏 -->
		        <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="deveagent:sysTrafficCardInfo:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		       	<!-- 表格：导入数据 -->
	            <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="deveagent:sysTrafficCardInfo:import">
		            <i class="fa fa-upload"></i> 导入
		        </a>
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="deveagent:sysTrafficCardInfo:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-danger" onclick="removeAll()" shiro:hasPermission="deveagent:sysTrafficCardInfo:remove">
		            <i class="fa fa-remove"></i> 批量删除
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//详情
		var detailFlag = [[${@permission.hasPermi('deveagent:sysTrafficCardInfo:detail')}]];
		//删除
		var removeFlag = [[${@permission.hasPermi('deveagent:sysTrafficCardInfo:remove')}]];
	
		var datas_del = [[${@dict.getType('sys_activity_info_del')}]];
		var datas_dis_status = [[${@dict.getType('sys_pos_info_dis_status')}]];
	
		//前缀路径
		var prefix = "/deveagent/sysTrafficCardInfo";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询系统流量卡列表
		    queryAgentSysTrafficCardInfoList();
		});
		
		//查询系统流量卡机列表
		function queryAgentSysTrafficCardInfoList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        createUrl: prefix + "/add",//新增路径
		        detailUrl: prefix + "/detail/{id}",//详情路径
		        exportUrl: prefix + "/export",//导出路径
		        importUrl: prefix + "/importData",//导入路径
		        importTemplateUrl: prefix + "/importTemplate",//导入模板下载路径
		        modalName: "系统流量卡信息",//模块名称：用户
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id',
					sortable: true,
					title : '编号'
				},
				{
					title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		              	//详情按钮
		            	actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detailMpos(\'' + row.sn + '\')"><i class="fa fa-search"></i>详细  </a> ');
		            	if(row.dis_status=='0'){
		            		//删除按钮：删除信息
			              	actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除   </a>');
			           	}
		              	return actions.join('');
		            }
		        },
		        {
					field : 'manager_id', 
					title : '代理编号'
				},
				{
					field : 'card_no', 
					title : '流量卡号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailTrafficCard(\'' + row.card_no + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'dis_status', 
					title : '分配状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_dis_status, value);
		            }
				},
				{
					field : 'remark', 
					title : '备注'
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'create_by', 
					title : '创建者'
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'update_by', 
					title : '更新者'
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		/* 查询流量卡详情 */
		function detailTrafficCard(id){
			var url = '/deveagent/sysTrafficCardInfo/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"流量卡详情", url);
		}
		
		
		//删除系统流量卡
		function remove(id) {
		    var url = prefix + '/del/' + id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		    $.modal.open("删除系统流量卡", url, '800', '450');
		}
		
		
		//批量删除系统流量卡
		function removeAll(){
			var rows = $('#bootstrap-table').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
    		if (rows.length == 0) {
    			$.modal.alertWarning("请至少选择一条记录");
    			return;
    		}
    		for(var i=0;i<rows.length;i++){
    			if(rows[i].dis_status!='0'){
    				$.modal.alertWarning("只能选择未分配的流量卡");
        			return;
    			}
    		}
    		$.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
    			var pos_ids = "";
    			// 遍历所有选择的行数据，取每条数据对应的ID
    			$.each(rows, function(i, row) {
    				if(i<rows.length-1){
    					pos_ids=pos_ids+row['id']+",";
    				}else{
    					pos_ids=pos_ids+row['id'];
    				}
    			});
    			var url = prefix + '/del/' + pos_ids;
    			$.modal.open("批量删除系统流量卡", url, '800', '450');
    		});
		}
	</script>
</body>


<!-- 导入区域 -->
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			 <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			提示：仅允许导入“xls”或“xlsx”格式文件！
		</font>
	</div>
</form>
</script>


</html>