<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('选择考核用户POS机信息列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								<input type="hidden" name="user_id" id="user_id" th:value="${user_id}" >
								<input type="hidden" name="state_status" id="state_status" value="1" >
								<input type="hidden" name="del" id="del" value="0" >
								设备号（机器编号）：<input type="text" name="sn" id="sn" />
							</li>
							<li>
								是否参与线上活动：
								<select name="activity_status" id="activity_status" th:with="type=${@dict.getType('user_pos_info_activity_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								是否有交易：
								<select name="trade_status" id="trade_status" th:with="type=${@dict.getType('user_pos_info_trade_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								商户号：<input type="text" name="mer_id" id="mer_id" />
							</li>
							<li>
								返现获取类型：
								<select name="cash_back_type" id="cash_back_type" th:with="type=${@dict.getType('sys_pos_info_cash_back_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								返现状态：
								<select name="cash_back_status" id="cash_back_status" th:with="type=${@dict.getType('sys_pos_info_cash_back_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								激活状态：
								<select name="act_status" id="act_status" th:with="type=${@dict.getType('sys_pos_info_act_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<div class="wrapper wrapper-content animated fadeInRight ibox-content" style="margin-top: 130px">
				<h3>请填写活动基本信息</h3>
				<form class="form-horizontal m" id="form-userMposAssessInfo-add">
					<div class="form-group">
						<label class="col-sm-1 control-label">活动类型：</label>
						<input type="hidden" name="user_id" id="user_id" th:value="${user_id}" >
						<div class="col-sm-9">
							<div class="col-sm-9">
								<label class="radio-box"> <input type="radio" name="assess_type" value="01" checked="checked" /> 活动A 激活量 </label> 
								<label class="radio-box"> <input type="radio" name="assess_type" value="02" /> 活动B 交易量 </label> 
							</div>
						</div>
					</div> 
				
				
			       	<div class="form-group">
						<label class="col-sm-1 control-label ">活动名称：</label>
						<div class="col-sm-4">
							<input class="form-control" type="text" name="assess_name" id="assess_name" placeholder="请输入活动名称" required  />
						</div>
						<label class="col-sm-1 control-label">活动时间范围：</label>
						<div class="col-sm-2">
							<input type="text" name="start_date" value=""  placeholder="请选择活动开始时间" autocomplete="off"
								onfocus="WdatePicker({ startDate: '%y%M01' , dateFmt:'yyyyMMdd', alwaysUseStartDate:true })" 
								id="datemin" class="form-control" required  >
						</div>
						<div class="col-sm-1" style="width: 10px">
							<span>-</span>
						</div>
						<div class="col-sm-2">
							<input type="text" name="end_date" value=""  placeholder="请选择活动结束时间" autocomplete="off"
								onfocus="WdatePicker({startDate: '%y%M01' , minDate:'#F{$dp.$D(\'datemin\')}', dateFmt:'yyyyMMdd', alwaysUseStartDate:true })" 
								id="datemax" class="form-control" required  >
						</div>
					</div> 
					
					<div class="form-group">
						<label class="col-sm-1 control-label ">扣除金额（元）：</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="deduct_money" id="deduct_money" placeholder="请输入扣除金额（元）" required  />
						</div>
					</div> 
					
					<div class="form-group" style="display: none" >
						<label class="col-sm-1 control-label">交易额（万）：</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="expenditure" id="expenditure" placeholder="请输入交易额（万）" required  />
						</div>
					</div> 
					
					<div class="form-group">
						<label class="col-sm-1 control-label ">参与活动的MPOS机设备号（机器编号）：</label>
						<div class="col-sm-9">
							<textarea rows="" cols="" name="sn_list" id="sn_list" class="form-control" placeholder="请选择下方参与活动的MPOS机或者手动填写，批量数据以英文分号(;)间隔" required ></textarea>
						</div>
					</div> 
					
					<div class="form-group">
						<label class="col-sm-1 control-label ">操作备注：</label>
						<div class="col-sm-9">
							<textarea class="form-control" rows="" cols="" name="remark" id="remark" placeholder="请输入操作备注" ></textarea>
						</div>
					</div> 
					
					<div class="form-group row" align="center" >
						<div class="col-sm-4">
							<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
						</div>
						<div class="col-sm-4">
				   	 		<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
				   	 	</div>
					</div>
			   	</form>
			   	
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group" style="margin-top: 10px">
		        <a class="btn btn-success" onclick="selectPos()">
	            	<i class="fa fa-check"></i> 选中POS机
	        	</a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
		
		
	</div>
	
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: wdatePicker-js" />
	<script th:inline="javascript">
		var datas_state_status = [[${@dict.getType('user_pos_info_state_status')}]];
		var datas_activity_status = [[${@dict.getType('user_pos_info_activity_status')}]];
		var datas_del = [[${@dict.getType('sys_activity_info_del')}]];
		var datas_trade_status = [[${@dict.getType('user_pos_info_trade_status')}]];
		var datas_cash_back_type = [[${@dict.getType('sys_pos_info_cash_back_type')}]];
		var datas_cash_back_status = [[${@dict.getType('sys_pos_info_cash_back_status')}]];
		var datas_act_status = [[${@dict.getType('sys_pos_info_act_status')}]];
	
		//前缀路径
		var prefix = "/deveagent/userMposInfo";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询用户MPOS机列表
		    queryAgentUserMposInfoList();
		});
		
		//查询用户MPOS机列表
		function queryAgentUserMposInfoList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        detailUrl: prefix + "/detail/{id}",//详情路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "用户MPOS信息",//模块名称：用户
		        showExport: true,
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        rememberSelected: true,
		        queryParams: queryParams,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		        	field: 'state',
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号'
				},
		        {
					field : 'manager_id', 
					title : '代理编号'
				},
				{
					field : 'user_id', 
					title : '用户编号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'user_tel', 
					title : '手机号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'real_name', 
					title : '姓名'
				},
				{
					field : 'sn', 
					title : '设备号（机器编号）',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailMpos(\'' + row.sn + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'card_settle_price', 
					title : '刷卡结算底价'
				},
				{
					field : 'cloud_settle_price', 
					title : '云闪付结算底价'
				},
				{
					field : 'single_profit_rate', 
					title : '单笔分润比例'
				},
				{
					field : 'cash_back_rate', 
					title : '返现比例'
				},
				{
					field : 'state_status', 
					title : '归属状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_state_status, value);
		            }
				},
				{
					field : 'activity_status', 
					title : '是否参与活动',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_activity_status, value);
		            }
				},
				{
					field : 'del', 
					title : '删除状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_del, value);
		            }
				},
				{
					field : 'trade_status', 
					title : '是否有交易',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_trade_status, value);
		            }
				},
				{
					field : 'mer_id', 
					title : '商户号'
				},
				{
					field : 'mer_name', 
					title : '商户名称'
				},
				{
					field : 'name', 
					title : '商户姓名'
				},
				{
					field : 'tel', 
					title : '商户手机号'
				},
				{
					field : 'cash_back_type', 
					title : '返现获取类型',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_cash_back_type, value);
		            }
				},
				{
					field : 'cash_back_condition', 
					title : '返现条件'
				},
				{
					field : 'cash_back_money', 
					title : '返现金额'
				},
				{
					field : 'real_cash_back_money', 
					title : '实际返现金额'
				},
				{
					field : 'cash_back_status', 
					title : '返现状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_cash_back_status, value);
		            }
				},
				{
					field : 'credit_card_rate', 
					title : '刷卡费率（%）'
				},
				{
					field : 'cloud_flash_rate', 
					title : '云闪付费率（%）'
				},
				{
					field : 'act_status', 
					title : '激活状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_act_status, value);
		            }
				},
				{
					field : 'act_user_id', 
					title : '激活时所属用户'
				},
				{
					field : 'act_date', 
					title : '激活时间'
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		/* 查询用户详情 */
		function detailUser(id){
			var url = '/deveagent/userInfo/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"用户详情", url);
		}
		
		
		/* 查询MPOS详情 */
		function detailMpos(id){
			var url = '/deveagent/sysMposInfo/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"MPOS详情", url);
		}
		
		
		//参数处理
		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.user_id = $('#user_id').val();//选中的值
			search.state_status = $('#state_status').val();//选中的值
			search.del = $('#del').val();//选中的值
			return search;
		}
		
		
		//选中数据
        function selectPos(){
        	var rows = $('#bootstrap-table').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
    		if (rows.length == 0) {
    			$.modal.alertWarning("请至少选择一个POS机");
    			return;
    		}
    		$.modal.confirm("确认要选中这" + rows.length + "个POS机吗?", function() {
    			var sn_list = "";
    			// 遍历所有选择的行数据，取每条数据对应的ID
    			$.each(rows, function(i, row) {
    				if(i<rows.length-1){
    					sn_list=sn_list+row['sn']+",";
    				}else{
    					sn_list=sn_list+row['sn'];
    				}
    			});
    			$("#sn_list").val(sn_list);
    		});
        }
		
		
      	//初始化选择事件
		$(function(){
			//radio按钮选中事件触发
        	$('input').on('ifChecked', function(event){  
        		//活动类型
        		var assess_type = $(event.target).val();
        		//如果是活动A 激活量
        		if (assess_type == "01") {
        			$("#expenditure").parents(".form-group").hide();
                    $("#deduct_money").parents(".form-group").show();
                } else if (assess_type == "02") {
                	//如果是活动B 交易量
                	$("#expenditure").parents(".form-group").show();
                    $("#deduct_money").parents(".form-group").show();
                }
        	});  
		})
		
		
        function submitHandler() {
			var assess_type = $("input[name='assess_type']:checked").val();
			if(assess_type==''){
         		layer.msg("请选择活动类型",{icon:5,time : 1000});
         		return;
         	}else if($("#assess_name").val()==''){
         		layer.msg("请输入活动名称",{icon:5,time : 1000});
         		return;
         	}else if($("#sn_list").val()==''){
         		layer.msg("请选择或者填入MPOS机",{icon:5,time : 1000});
         		return;
         	}else if($("#datemin").val()==''){
         		layer.msg("请选择活动开始时间",{icon:5,time : 1000});
         		return;
         	}else if($("#datemax").val()==''){
         		layer.msg("请选择活动结束时间",{icon:5,time : 1000});
         		return;
         	}else if($("#remark").val()==''){
         		layer.msg("请输入操作备注",{icon:5,time : 1000});
         		return;
         	}
         	if(assess_type=='01'){
         		if($("#deduct_money").val()==''){
             		layer.msg("请输入扣除金额",{icon:5,time : 1000});
             		return;
             	}
         	}else if(assess_type=='02'){
         		if($("#deduct_money").val()==''){
             		layer.msg("请输入扣除金额",{icon:5,time : 1000});
             		return;
             	}else if($("#expenditure").val()==''){
             		layer.msg("请输入交易额（万）",{icon:5,time : 1000});
             		return;
             	}
         	}
       		$.operate.saveTab("/deveagent/userMposAssessInfo/add", $('#form-userMposAssessInfo-add').serialize());
 		}
	</script>
</body>
</html>