<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('代理传统POS代理数据汇总列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								手机号：<input type="text" name="user_tel" id="user_tel" />
							</li>
							<li>
								姓名：<input type="text" name="real_name" id="real_name" />
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="deveagent:summaryUserTraditionalPosBenefitAll:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//前缀路径
		var prefix = "/deveagent/summaryUserTraditionalPosBenefitAll";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询代理传统POS代理数据汇总列表
		    querySummaryUserTraditionalPosBenefitAllList();
		});
		
		//查询代理传统POS代理数据汇总列表
		function querySummaryUserTraditionalPosBenefitAllList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "代理传统POS代理数据汇总信息",//模块名称：用户
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detail(\'' + row.id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'manager_id', 
					title : '代理编号'
				},
				{
					field : 'user_id', 
					title : '用户编号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'user_tel', 
					title : '手机号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'real_name', 
					title : '姓名'
				},
				{
					field : 'performance', 
					title : '总业绩'
				},
				{
					field : 'num', 
					title : '总笔数'
				},
				{
					field : 'merchant_performance', 
					title : '直营总业绩'
				},
				{
					field : 'merchant_num', 
					title : '直营总笔数'
				},
				{
					field : 'agency_performance', 
					title : '代理总业绩'
				},
				{
					field : 'agency_num', 
					title : '代理总笔数'
				},
				{
					field : 'benefit', 
					title : '总收入'
				},
				{
					field : 'share_benefit', 
					title : '分润收入'
				},
				{
					field : 'single_benefit', 
					title : '单笔收入'
				},
				{
					field : 'return_benefit', 
					title : '机具返现收入'
				},
				{
					field : 'activity_benefit', 
					title : '活动收入'
				},
				{
					field : 'merchant_benefit', 
					title : '直营总收入'
				},
				{
					field : 'merchant_share_benefit', 
					title : '直营分润收入'
				},
				{
					field : 'merchant_single_benefit', 
					title : '直营单笔收入'
				},
				{
					field : 'merchant_return_benefit', 
					title : '直营机具返现收入'
				},
				{
					field : 'merchant_activity_benefit', 
					title : '直营活动收入'
				},
				{
					field : 'agency_benefit', 
					title : '代理总收入'
				},
				{
					field : 'agency_share_benefit', 
					title : '代理分润收入'
				},
				{
					field : 'agency_single_benefit', 
					title : '代理单笔收入'
				},
				{
					field : 'agency_return_benefit', 
					title : '代理机具返现收入'
				},
				{
					field : 'under_num', 
					title : '伞下人数'
				},
				{
					field : 'refer_num', 
					title : '直推人数'
				},
				{
					field : 'pos_num', 
					title : '商户总数量'
				},
				{
					field : 'merchant_pos_num', 
					title : '直营商户数量'
				},
				{
					field : 'agency_pos_num', 
					title : '代理商户数量'
				},
				{
					field : 'act_num', 
					title : '激活数量'
				},
				{
					field : 'merchant_act_num', 
					title : '直营激活数量'
				},
				{
					field : 'agency_act_num', 
					title : '代理激活数量'
				},
				{
					field : 'deduct_money', 
					title : '扣除金额'
				},
				{
					field : 'trade_num', 
					title : '有交易的POS机总数量'
				},
				{
					field : 'merchant_trade_num', 
					title : '直营有交易POS机总数量'
				},
				{
					field : 'agency_trade_num', 
					title : '代理有交易POS机总数量 '
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
	</script>
</body>
</html>