<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('平台用户结算卡列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								代理账号：<input type="text" name="manager_login_name" id="manager_login_name" />
							</li>
							<li>
								手机号：<input type="text" name="user_tel" id="user_tel" />
							</li>
							<li>
								卡账号：<input type="text" name="account" id="account" />
							</li>
							<li>
								卡账户名：<input type="text" name="account_name" id="account_name" />
							</li>
							<li>
								银行代码：<input type="text" name="bank_code" id="bank_code" />
							</li>
							<li>
								银行名称：<input type="text" name="bank_name" id="bank_name" />
							</li>
							<li>
								卡状态：
								<select name="status" id="status" th:with="type=${@dict.getType('user_card_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								是否默认卡：
								<select name="is_default" id="is_default" th:with="type=${@dict.getType('user_card_is_default')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="devemana:userCard:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//详情
		var detailFlag = [[${@permission.hasPermi('devemana:userCard:detail')}]];
	
		var datas_status = [[${@dict.getType('user_card_status')}]];
		var datas_is_default = [[${@dict.getType('user_card_is_default')}]];
	
		//前缀路径
		var prefix = "/devemana/userCard";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询用户结算卡列表
		    queryManaUserCardList();
		});
		
		//查询用户结算卡列表
		function queryManaUserCardList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        detailUrl: prefix + "/detail/{id}",//详情路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "用户结算卡信息",//模块名称：用户
		        showFooter: true,
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detail(\'' + row.id + '\')">' + value + '</a>';
		            }
				},
				{
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		              //详情按钮
		            	actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a>');
		              	return actions.join('');
		            }
		        },
		        {
					field : 'manager_id', 
					title : '代理编号'
				},
				{
					field : 'manager_login_name', 
					title : '代理账号'
				},
				{
					field : 'manager_user_name', 
					title : '代理用户名'
				},
				{
					field : 'user_id', 
					title : '用户编号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value + '</a>';
		            }
				},
				{
					field : 'user_tel', 
					title : '手机号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value.substr(0, 3) + '****' + value.substr(7) + '</a>';
		            }
				},
				{
					field : 'real_name', 
					title : '姓名'
				},
				{
					field : 'account_name', 
					title : '卡账户名'
				},
				{
					field : 'account', 
					title : '卡账号'
				},
				{
					field : 'id_card', 
					title : '身份证号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detailUser(\'' + row.user_id + '\')">' + value.substr(0, 3) + '****' + value.substr(7) +  '</a>';
		            }
				},
				{
					field : 'bank_code', 
					title : '银行代码'
				},
				{
					field : 'bank_name', 
					title : '银行名称',
					align: 'center',
				  	formatter: function(value, row, index) {
				      	return $.table.tooltip(value);
				  	}
				},
				{
					field : 'status', 
					title : '状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_status, value);
		            }
				},
				{
					field : 'is_default', 
					title : '是否默认卡',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_is_default, value);
		            }
				},
				/* {
		            field: 'card_photo',
		            title: '卡照片',
		            formatter: function(value, row, index) {
		            	if(value != null && value != ""){
		            		var imgs = value.split(",");
			            	var imgResult = "";
			            	for(var i=0;i<imgs.length;i++){
			            		imgResult = imgResult + $.table.imageView(qiniu_domain+imgs[i]);
			            	}
			            	return imgResult;
		            	}
					}
		        }, */
				{
					field : 'remark', 
					title : '操作备注',
					align: 'center',
				  	formatter: function(value, row, index) {
				      	return $.table.tooltip(value);
				  	}
				},
				{
					field : 'cre_date', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'up_date', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'update_by', 
					title : '更新人'
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		/* 查询卡详情 */
		function detail(id){
			var url = prefix+'/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"结算卡详情", url);
		}
		
		
		/* 查询用户详情 */
		function detailUser(id){
			var url = '/devemana/userInfo/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"用户详情", url);
		}
		
	</script>
</body>
</html>