<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.deveagent.datatrapos.mapper.AgentDataTraposPolicyRecordMapper">

	<!-- 查询MPOS商户数据汇总列表 -->
	<select id="getAgentDataTraposPolicyRecordList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			t.id,
			t.policy_name,
			t.policy_code,
			t.account_id,
			t.manager_id,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			t1.app_id
		FROM
			t_data_trapos_policy_record t
		LEFT JOIN sys_user_account t1 ON t.account_id = t1.id
		<where>
			t.manager_id = #{map.manager_id}
			<if test="map.id != null and map.id != ''">
				AND t.id = #{map.id}
			</if>
			<if test="map.policy_code != null and map.policy_code != ''">
				AND t.policy_code = #{map.policy_code}
			</if>
			<if test="map.app_id != null and map.app_id != ''">
				AND t1.app_id = #{map.app_id}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 导出MPOS商户数据汇总列表 -->
	<select id="selectAgentDataTraposPolicyRecordList" parameterType="java.util.Map" resultType="com.ruoyi.project.deveagent.datatrapos.domain.AgentDataTraposPolicyRecord" >
		SELECT
			t.id,
			t.policy_name,
			t.policy_code,
			t.account_id,
			t.manager_id,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS cre_date,
			t1.app_id
		FROM
			t_data_trapos_policy_record t
		LEFT JOIN sys_user_account t1 ON t.account_id = t1.id
		<where>
			t.manager_id = #{map.manager_id}
			<if test="map.id != null and map.id != ''">
				AND t.id = #{map.id}
			</if>
			<if test="map.policy_code != null and map.policy_code != ''">
				AND t.policy_code = #{map.policy_code}
			</if>
			<if test="map.app_id != null and map.app_id != ''">
				AND t1.app_id = #{map.app_id}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
</mapper>