<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.project.deveagent.usertrapos.mapper.AgentUserEposShareBenefitRecordMapper">

	<!-- 查询用户传统POS分润记录列表 -->
	<select id="getAgentUserTraposShareBenefitRecordList" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT
			t.id,
			t.order_id,
			t.user_id,
			t.sn,
			t.trans_amount,
			t.trans_type,
			t.card_type,
			t.trans_time,
			t.benefit_type,
			t.state_type,
			t.single_amount,
			t.benefit_money,
			t.tran_ref_code,
			t.card_settle_price,
			t.cloud_settle_price,
			t.weixin_settle_price,
			t.zhifubao_settle_price,
			t.single_profit_rate,
			t.credit_card_rate,
			t.cloud_flash_rate,
			t.weixin_rate,
			t.zhifubao_rate,
			t.mer_cap_fee,
			t.trade_mer_cap_fee,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date,
			t1.manager_id,
			t1.user_tel,
			t1.real_name
		FROM
			t_user_trapos_share_benefit_record t
		INNER JOIN t_user_info t1 ON t.user_id = t1.id
		<where>
			(t1.id=#{map.uid} or t1.parent_chain like concat(#{map.chain},'%'))
			and t.pos_type='03'
			<if test="map.id != null and map.id != ''">
				AND t.id = #{map.id}
			</if>
			<if test="map.order_id != null and map.order_id != ''">
				AND t.order_id = #{map.order_id}
			</if>
			<if test="map.user_id != null and map.user_id != ''">
				AND t.user_id = #{map.user_id}
			</if>
			<if test="map.sn != null and map.sn != ''">
				AND t.sn = #{map.sn}
			</if>
			<if test="map.trans_type != null and map.trans_type != ''">
				AND t.trans_type = #{map.trans_type}
			</if>
			<if test="map.card_type != null and map.card_type != ''">
				AND t.card_type = #{map.card_type}
			</if>
			<if test="map.benefit_type != null and map.benefit_type != ''">
				AND t.benefit_type = #{map.benefit_type}
			</if>
			<if test="map.state_type != null and map.state_type != ''">
				AND t.state_type = #{map.state_type}
			</if>
			<if test="map.tran_ref_code != null and map.tran_ref_code != ''">
				AND t.tran_ref_code = #{map.tran_ref_code}
			</if>
			<if test="map.user_tel != null and map.user_tel != ''">
				AND t1.user_tel = #{map.send_user_tel}
			</if>
			<if test="map.real_name != null and map.real_name != ''">
				AND t1.real_name = #{map.real_name}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
	
	<!-- 导出用户传统POS分润记录列表 -->
	<select id="selectAgentUserTraposShareBenefitRecordList" parameterType="java.util.Map" resultType="com.ruoyi.project.deveagent.usertrapos.domain.AgentUserTraposShareBenefitRecord" >
		SELECT
			t.id,
			t.order_id,
			t.user_id,
			t.sn,
			t.trans_amount,
			t.trans_type,
			t.card_type,
			t.trans_time,
			t.benefit_type,
			t.state_type,
			t.single_amount,
			t.benefit_money,
			t.tran_ref_code,
			t.card_settle_price,
			t.cloud_settle_price,
			t.weixin_settle_price,
			t.zhifubao_settle_price,
			t.single_profit_rate,
			t.credit_card_rate,
			t.cloud_flash_rate,
			t.weixin_rate,
			t.zhifubao_rate,
			t.mer_cap_fee,
			t.trade_mer_cap_fee,
			DATE_FORMAT(
				STR_TO_DATE(
					CONCAT(t.cre_date, t.cre_time),
					'%Y%m%d%H%i%s'
				),
				'%Y-%m-%d %H:%i:%s'
			) AS up_date,
			t1.manager_id,
			t1.user_tel,
			t1.real_name
		FROM
			t_user_trapos_share_benefit_record t
		INNER JOIN t_user_info t1 ON t.user_id = t1.id
		<where>
			(t1.id=#{map.uid} or t1.parent_chain like concat(#{map.chain},'%'))
			and t.pos_type='03'
			<if test="map.id != null and map.id != ''">
				AND t.id = #{map.id}
			</if>
			<if test="map.order_id != null and map.order_id != ''">
				AND t.order_id = #{map.order_id}
			</if>
			<if test="map.user_id != null and map.user_id != ''">
				AND t.user_id = #{map.user_id}
			</if>
			<if test="map.sn != null and map.sn != ''">
				AND t.sn = #{map.sn}
			</if>
			<if test="map.trans_type != null and map.trans_type != ''">
				AND t.trans_type = #{map.trans_type}
			</if>
			<if test="map.card_type != null and map.card_type != ''">
				AND t.card_type = #{map.card_type}
			</if>
			<if test="map.benefit_type != null and map.benefit_type != ''">
				AND t.benefit_type = #{map.benefit_type}
			</if>
			<if test="map.state_type != null and map.state_type != ''">
				AND t.state_type = #{map.state_type}
			</if>
			<if test="map.tran_ref_code != null and map.tran_ref_code != ''">
				AND t.tran_ref_code = #{map.tran_ref_code}
			</if>
			<if test="map.user_tel != null and map.user_tel != ''">
				AND t1.user_tel = #{map.send_user_tel}
			</if>
			<if test="map.real_name != null and map.real_name != ''">
				AND t1.real_name = #{map.real_name}
			</if>
			<!-- 开始时间检索 -->
			<if test="map.beginTime != null and map.beginTime != ''">
				AND t.cre_date &gt;= date_format(#{map.beginTime},'%Y%m%d')
			</if>
			<!-- 结束时间检索 -->
			<if test="map.endTime != null and map.endTime != ''">
				AND t.cre_date &lt;= date_format(#{map.endTime},'%Y%m%d')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${map.dataScope}
	</select>
	
</mapper>