<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('平台用户信息列表')" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body class="gray-bg">
	
	<!-- 系统参数列表 -->
	<div class="container-div ui-layout-center">
		<div class="row">
			
			<!-- 最上面的搜索框 -->
			<div class="col-sm-12 search-collapse">
				<form id="user-form">
					<div class="select-list">
						<ul>
							<li>
								代理账号：<input type="text" name="manager_login_name" id="manager_login_name" />
							</li>
							<li>
								手机号：<input type="text" name="user_tel" id="user_tel" />
							</li>
							<li>
								姓名：<input type="text" name="real_name" id="real_name" />
							</li>
							<li>
								会员状态：
								<select name="status" id="status" th:with="type=${@dict.getType('user_info_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								会员认证状态：
								<select name="auth_status" id="auth_status" th:with="type=${@dict.getType('user_info_auth_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								推荐人手机号：<input type="text" name="referer_user_tel" id="referer_user_tel" />
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="beginTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="searchTable()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			
			<!-- 上面的各项增删改查导入导出操作 -->
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <!-- 表格：导出数据 -->
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="devemana:userInfo:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
		        <a class="btn btn-danger" onclick="selectDate()" shiro:hasPermission="devemana:userInfo:selectDate">
		            <i class="fa fa-edit"></i> 获取中付返现数据，插入到待处理表中
		        </a>
		        <a class="btn btn-danger" onclick="traPosTransCallBack()" shiro:hasPermission="devemana:userInfo:selectDate">
		            <i class="fa fa-edit"></i> 传统POS交易数据回滚
		        </a>
	        </div>

	        
	        <!-- bootstrap表格数据部分 -->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		//详情
		var detailFlag = [[${@permission.hasPermi('devemana:userInfo:detail')}]];
	
		var datas_grade = [[${@dict.getType('user_info_grade')}]];
		var datas_status = [[${@dict.getType('user_info_status')}]];
		var datas_auth_status = [[${@dict.getType('user_info_auth_status')}]];
	
		//前缀路径
		var prefix = "/devemana/userInfo";
		
		//初始化方法
		$(function() {
			//初始化时间范围
			intiTime();
		   	//查询用户列表
		    queryManaUserInfoList();
		  	//汇总数据
		    setTimeout("summaryManaUserInfoList()","1000"); 
		});
		
		//查询用户列表
		function queryManaUserInfoList() {
		    var options = {
		        url: prefix + "/list",//URL列表路径
		        updateUrl: prefix + "/edit/{id}",//编辑路径
		        detailUrl: prefix + "/detail/{id}",//详情路径
		        exportUrl: prefix + "/export",//导出路径
		        modalName: "用户信息",//模块名称：用户
		        showFooter: true,
		        showExport: true,
		        sortName: 'id',
	          	sortOrder: 'desc',
		        //列信息
		        columns: [{
		            checkbox: true
		        },
		        {
					field : 'id', 
					title : '编号',
					sortable: true,
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="$.operate.detail(\'' + row.id + '\')">' + value + '</a>';
		            }
				},
				{
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	//事件数组
		                var actions = [];
		              //详情按钮
		            	actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a>');
		              	return actions.join('');
		            }
		        },
		        {
					field : 'manager_id', 
					title : '代理编号'
				},
				{
					field : 'manager_login_name', 
					title : '代理账号'
				},
				{
					field : 'manager_user_name', 
					title : '代理用户名',
					footerFormatter:function (value) {
				        return "<span id='sum_money'>账户总余额：0.00<span>";
				    }
				},
				{
					field : 'user_tel', 
					title : '手机号',
					formatter: function(value, row, index) {
						return '<a href="javascript:void(0)" onclick="detail(\'' + row.id + '\')">' + value.substr(0, 3) + '****' + value.substr(7) + '</a>';
		            },
		            footerFormatter:function (value) {
				        return "<span id='sum_settle_money'>到账总金额：0.00<span>";
				    }
				},
				{
					field : 'real_name', 
					title : '姓名',
					footerFormatter:function (value) {
				        return "<span id='sum_deduct_money'>扣除总金额：0.00<span>";
				    }
				},
				{
					field : 'id_card', 
					title : '身份证号',
					formatter: function(value, row, index) {
						if(value!=null && value!=''){
							return '<a href="javascript:void(0)" onclick="detail(\'' + row.id + '\')">' + value.substr(0, 3) + '****' + value.substr(16) + '</a>';
						}
		            },
					footerFormatter:function (value) {
				        return "<span id='sum_today_benefit'>今日总收益：0.00<span>";
				    }
				},
				{
					field : 'referer_user_tel', 
					title : '推荐人手机号',
					formatter: function(value, row, index) {
						if(value!=null && value!=''){
							return '<a href="javascript:void(0)" onclick="detail(\'' + row.referer_id + '\')">' + value.substr(0, 3) + '****' + value.substr(7) + '</a>';
						}
		            },
		            footerFormatter:function (value) {
				        return "<span id='sum_total_benefit'>累计总收益：0.00<span>";
				    }
				},
				{
					field : 'referer_real_name', 
					title : '推荐人姓名',
					footerFormatter:function (value) {
				        return "<span id='sum_settle_single_feet_money'>结算单笔总手续费：0.00<span>";
				    }
				},
				{
					field : 'money', 
					title : '账户余额',
					sortable: true,
					footerFormatter:function (value) {
					  	return "<span id='sum_single_rate_feet_money'>结算比例总手续费：0.00<span>";
					}
				},
				{
					field : 'settle_money', 
					title : '到账金额',
					sortable: true
				},
				{
					field : 'deduct_money', 
					title : '扣除金额',
					sortable: true
				},
				{
					field : 'today_benefit', 
					title : '今日收益',
					sortable: true
				},
				{
					field : 'total_benefit', 
					title : '累计收益',
					sortable: true
				},
				{
					field : 'settle_single_feet_money', 
					title : '单笔手续费',
					sortable: true
				},
				{
					field : 'single_rate_feet_money', 
					title : '比例手续费',
					sortable: true
				},
				{
					field : 'status', 
					title : '状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_status, value);
		            }
				},
				{
					field : 'auth_status', 
					title : '认证状态',
					align: 'center',
		            formatter: function(value, row, index) {
		            	// 回显数据字典
		            	return $.table.selectDictLabel(datas_auth_status, value);
		            }
				},
				{
					field : 'referer_num', 
					title : '直推人',
					sortable: true
				},
				{
					field : 'under_num', 
					title : '团队人',
					sortable: true
				}]
		    };
		    //表格初始化
		    $.table.init(options);
		}
		
		
		//自定义搜索事件
		function searchTable(){
			$.table.search();
			//汇总数据
		    setTimeout("summaryManaUserInfoList()","1000"); 
		}

		
		//汇总数据统计
		function summaryManaUserInfoList(){
			$.ajax({
				url:"/devemana/userInfo/summaryManaUserInfoList",
				type:"post",
				dataType:"json",
				data:{
					'manager_login_name' : $("#manager_login_name").val(),
					'user_tel' : $("#user_tel").val(),
					'real_name' : $("#real_name").val(),
					'status' : $("#status").val(),
					'auth_status' : $("#auth_status").val(),
					'referer_user_tel' : $("#referer_user_tel").val(),
					'beginTime' : $("#startTime").val(),
					'endTime' : $("#endTime").val()
				},
				success:function(data){
					$("#sum_money").html("账户总余额："+data.sum_money);
					$("#sum_settle_money").html("到账总金额："+data.sum_settle_money);
					$("#sum_deduct_money").html("扣除总金额："+data.sum_deduct_money);
					$("#sum_today_benefit").html("今日总收益："+data.sum_today_benefit);
					$("#sum_total_benefit").html("累计总收益："+data.sum_total_benefit);
					$("#sum_settle_single_feet_money").html("结算单笔总手续费："+data.sum_settle_single_feet_money);
					$("#sum_single_rate_feet_money").html("结算比例总手续费："+data.sum_single_rate_feet_money);
				},
				error:function(){
					alert("error");
				}
			});
		}
		
		
		/* 查询用户详情 */
		function detail(id){
			var url = prefix + '/detail/'+id;
		    //打开新的弹出层，对应弹出层名称，URL，长宽大小
		   	$.modal.openTab("编号"+id+"用户详情", url);
		}
		
		
		/* 获取中付返现数据，插入到待处理表中 */
		function selectDate(){
			var url = '/devemana/userInfo/selectDate';
			$.modal.open("获取中付返现数据，插入到待处理表中", url);
		}
		
		
		/* 传统POS交易数据回滚 */
		function traPosTransCallBack(){
			$.operate.post("/develop/backTest/traPosTransCallBack");
		}
		
	</script>
</body>
</html>